* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1480px;
    margin: 0 auto;
}

.nav {
    background-color: rgba(255, 160, 60, 0.62);
    border-radius: 15px;
}

.nav-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
} 

.nav-logo{
    margin-left: 78px ;
}

.nav-items{
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.nav-item{
    display: inline;
    margin-left: 19px;
    font-size: 20px;
    color: #111111;
}

.header{
    background-image: url(/jasAbay/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo{
    text-align: center;
    padding-top: 15px;
}

.header-text{
    width: 280px;
    margin: 0 auto;
}

.header-btn{
    margin-top: 155px;
    text-align: center;
    padding-bottom: 98px;
}

.header-btn a{
    padding: 19px 62px;
    background: linear-gradient(#FFA03C 82%, #9A6124);
    border-radius: 48px;
    font-size: 20px;
    color:#180069;
    text-decoration: none;
}

.mission{
    color: white;
    background-color: #08254F;
}

.mission-h2{
    padding-top: 44px;
    font-size: 64px;
    font-weight: bold;
    width: 498px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFA03C;
}

.mission-text{
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.mission-text__author{
    font-size: 27px;
    font-weight: bold;
    margin-top: 54px;
    width: 450px;
    text-align: center;
    margin-left: auto;
}

.mission-text__author span{
    font-weight: 400;
    font-size: 24px;

}