* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 1480px;
    margin: 0 auto;
}

.nav {
    background-color: rgba(255, 160, 60, 0.62);
    border-radius: 15px;
    position: absolute;
    width: 100%;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-logo {
    margin-left: 78px;
}

.nav-items {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.nav-item {
    display: inline;
    margin-left: 19px;
    font-size: 20px;
    color: #111111;
}

.header {
    background-image: url(/jasAbay/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo {
    text-align: center;
    padding-top: 130px;
}

.header-text {
    width: 280px;
    margin: 0 auto;
    text-align: center;
}

.header-btn {
    margin-top: 155px;
    text-align: center;
    padding-bottom: 98px;
}

.header-btn a {
    padding: 19px 62px;
    background: linear-gradient(#FFA03C 82%, #9A6124);
    border-radius: 48px;
    font-size: 20px;
    color: #180069;
    text-decoration: none;
}

.mission {
    color: white;
    background-color: #08254F;
}

.mission-h2 {
    padding-top: 44px;
    font-size: 64px;
    font-weight: bold;
    width: 498px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFA03C;
}

.mission-text {
    font-size: 30px;
    text-align: center;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.mission-text__author {
    font-size: 27px;
    font-weight: bold;
    margin-top: 54px;
    width: 450px;
    text-align: center;
    margin-left: auto;
}

.mission-text__author span {
    font-weight: 400;
    font-size: 24px;

}

.academy-slider {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: center;    
}



.slider-item {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 50px;
}

.slider-item__text {
    color: white;
    background-color: #08254F;
    width: 300px;
    text-align: center
}

.slider-item__h2 {
    font-weight: 700;
    font-size: 32px;
}

.slider-item__p {
    font-size: 16px;
    padding-bottom: 16px;
    width: 168px;
    margin: 0 auto;
}

.slider-item img {
    width: 300px;
    height: 100%;
}

.multiple-items{
    position: relative;
}

.multiple-items .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -65px 0 0 0;
    z-index: 10;
}

.multiple-items .slick-arrow.slick-prev{
    left: 0;
}

.multiple-items .slick-arrow.slick-next{
    right: 0;
}

.slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    background-color: inherit;
}


.slick-prev {
    background-image: url(/jasAbay/img/prevArrow.png);
    font-size: 0;
    border: none;
    background-repeat: no-repeat;
    width: 30px;
}

.slick-list{
    overflow: hidden;
    position: absolute;
}

.slick-track{
    display: flex;
}
.slick-next {
    background-image: url(/jasAbay/img/nextArrow.png);
    font-size: 0;
    border: none;
    background-repeat: no-repeat;
    width: 30px;
}

.slick-next:hover, .slick-prev:hover{
    background-repeat: no-repeat;
    cursor: pointer;
}


.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    width: 300px;
    margin: 0 auto;
    margin-left: 320px;
    border-radius: 33px;
}

.slick-dots li{
    list-style: none;
    margin: 6px;
}

.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
}

.slick-dots li.slick-active button{
    background-color: white;
    border: 1px solid black;
}


.academy-h2{
    text-align: center;
    width: 256px;
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 61px;
}



.features{
    background-color: #08254F;
    color: #fff
}


.features-h2{
    font-size: 96px;
    font-weight:900;
    color: #FFA03C;
    max-width: 780px;
    text-align: center;
    margin: 0 auto;
    padding-top:35px;
    margin-bottom: 110px;
}


.features-items{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.features-item{
    width: 205px;
    text-align: center;
    margin-bottom: 100px;
}

.features-img__box{
    text-align: center;
    margin-bottom: 15px;
}

.features-text{
    width: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

